.configuration-container{
    position: static;
    width: 100%;
    height: 40px;
    text-align: end;
    vertical-align: middle;
    background-color: #EFEFEF
}

.configuration-container .back-button-bar{
    align-content: center;
    float: left;
    margin-left: 10px;
}

.configuration-container .button-bar{
    align-content: center;

}