.design-classification-action-button-group{
    display: none;
}

.design-classification-title-area{
    max-height: 300px;
}

.design-classification-response-area{
    margin-bottom: 1rem;
}

.design-classification-config-area{
    margin-bottom: 1rem;
}

.design-classification-area-separator{
    margin-bottom: 1rem;
    border-top: 1px solid lightgray;    
}