.design-multiple-action-button-group{
    display: none;
}

.design-multiple-title-area{
    max-height: 300px;
}

.design-multiple-response-area{
    margin-bottom: 1rem;
}

.design-multiple-config-area{
    margin-bottom: 1rem;
}

.design-multiple-area-separator{
    margin-bottom: 1rem;
    border-top: 1px solid lightgray;    
}