.design-email-action-button-group{
    display: none;
}

.design-email-title-area{
    max-height: 300px;
}

.design-email-response-area{
    margin-bottom: 1rem;
}

.design-email-config-area{
    margin-bottom: 1rem;
}

.design-email-area-separator{
    margin-bottom: 1rem;
    border-top: 1px solid lightgray;    
}