.design-text-action-button-group{
    display: none;
}

.design-text-title-area{
    max-height: 300px;
}

.design-text-response-area{
    margin-bottom: 1rem;
}

.design-text-config-area{
    margin-bottom: 1rem;
}

.design-text-area-separator{
    margin-bottom: 1rem;
    border-top: 1px solid lightgray;    
}