.design-select-action-button-group{
    display: none;
}

.design-select-title-area{
    max-height: 300px;
}

.design-select-response-area{
    margin-bottom: 1rem;
}

.design-select-config-area{
    margin-bottom: 1rem;
}

.design-select-area-separator{
    margin-bottom: 1rem;
    border-top: 1px solid lightgray;    
}