.design-date-action-button-group{
  display: none;
}

.design-date-title-area{
  max-height: 300px;
}

.design-date-response-area{
  margin-bottom: 1rem;
}

.design-date-config-area{
  margin-bottom: 1rem;
}

.design-date-area-separator{
  margin-bottom: 1rem;
  border-top: 1px solid lightgray;    
}

.react-datepicker {
    font-size: 1.3rem !important;
  }
  .react-datepicker-wrapper{
    width: 100%;
  }
  
  .react-datepicker__current-month {
    font-size: 1.5rem !important;
  }
  
  .react-datepicker__header {
    padding-top: 6px !important;
  }
  
  .react-datepicker__navigation {
    top: 13px !important;
  }
  
  .react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
  }