.design-number-action-button-group{
    display: none;
}

.design-number-title-area{
    max-height: 300px;
}

.design-number-response-area{
    margin-bottom: 1rem;
}

.design-number-config-area{
    margin-bottom: 1rem;
}

.design-number-area-separator{
    margin-bottom: 1rem;
    border-top: 1px solid lightgray;    
}