.design-paragraph-action-button-group{
    display: none;
}

.design-paragraph-title-area{
    max-height: 300px;
}

.design-paragraph-response-area{
    margin-bottom: 1rem;
}

.design-paragraph-config-area{
    margin-bottom: 1rem;
}

.design-paragraph-area-separator{
    margin-bottom: 1rem;
    border-top: 1px solid lightgray;    
}